html, body{
    height: 100%;
    font-family: Arial;
    color: white;
    background-color: #232323;
}

.banner {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 10%;
    left: 10%;
}

.title{
    font-size: 80px;
    color: red;
    /*font-family: 'Copperplate Gothic';*/
}

.blacktitle {
    font-size: 80px;
    color: black;
    /*font-family: 'Copperplate Gothic';*/
}

.login {
    font-size: 40px;
    color: white;
    /*font-family: 'Copperplate Gothic';*/
}

.signup {
    font-size: 40px;
    color: black;
    /*font-family: 'Copperplate Gothic';*/
}

.LoginButton{
    padding: 10px;
    width: 80px;
    color: white;
    background-color: lightgrey;
    border: none;
}

.mainHeader {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: black;
    height: 100px;
    display: flex;
    align-items: center;
}

.headerLogo{
    background-size: auto 100%;
    display: block;
    background-image: url(voiklarLogo.png);
    height: 100px;
    width: 120px;
}

.userLogo{
    background-size: auto 100%;
    display: block;
    background-image: url(robotProfile.png);
    height: 70px;
    width: 70px;
}

.rightHeaderContent{
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.UserBar {
    margin-right: 10px;
    border-style: solid;
    border-color: lightgray;
    display: flex;
    align-items: center;
}

.usernameDisplay{
    margin-left: 20px;
    margin-right: 10px;
    color: white;
}

.logoutLink{
    color: white;
    margin-top: 50px;
}

.robonettitle{
    color: white;
    font-size: 80px;
    margin-left: 60px;
}

.smallHeader {
    background-color: black;
    height: 100px;
    display: flex;
    align-items: center;
}

.mainContent{
    margin-top: 100px;
    flex-grow:1;
    overflow: auto;
}

.messageField{
    margin: 100px;
}

.messageFieldHeader{
    font-size: 10px;
    background-color: black;
    height: 50px;
    display: flex;
    align-items: center;
}

.messageEntry{
    display: flex;
}

.messageEntryText {
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    background-color: #404040;
}

.messageEntryTextOther {
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    background-color: #303030;
}

.signinfield {
    background-color: #404040;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 600px;
}

.signInContent {
    margin-top: 100px;
    flex-grow: 1;
    overflow: auto;
    display: flex;
    justify-content: center;
}

.signinTextbox {
    display: flex;
    align-items: center;
    height: 30px;
    width: 550px;
    background-color: #303030;
    margin: 20px;
    color: white;
}

.signinButton {
    height: 50px;
    width: 550px;
    background-color: #505050;
    margin: 20px;
    color: white;
}

.signintomakeapost{
    color: white;
    font-size: 20px;
}

.userProfile {
    margin-top: 100px;
    display: flex;
    overflow: auto;
    justify-content: center;
}

.profileBackground{
    margin-top: 100px;
    background-color: black;
    width: 900px;
    height: 400px;
}

.profileBox {
    margin: 30px;
    height: 335px;
    border-color: lightgray;
    border: solid;
    display: flex;
    align-items: flex-start;
}

.userLogoBig{
    background-size: auto 100%;
    display: block;
    background-image: url(robotProfileBig.png);
    height: 335px;
    width: 335px;
}

.gender_dropdown {
    background-color: #303030;
    margin: 20px;
    color: white;
    height: 30px;
    width: 100px;
}

.advertisementContainer {
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.advertisement {
    height: 300px;
}